.container {
  padding: 48px 2.5rem;
}

.testimonials {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 80px;
  grid-row-gap: 80px;
}

.testimonial {
  display: flex;
  flex-direction: column;
}

:global(.is-mobile) {
  .container {
    padding: 0 16px 16px;
  }

  .testimonials {
    grid-template-columns: 1fr;
    grid-row-gap:64px;
  }
}
