@import '../../styles/settings/colors.scss';
@import '../../styles/tools/mixins.scss';

.container {
  display: grid;
  grid-template-columns: auto auto;
  justify-items: end;
  justify-content: space-between;
}

.texts {
  position: sticky;
  top: 0;
  right: 0;
  height: max-content;
  display: flex;
  flex-direction: column;
  justify-content: top;
  padding: 78px 2.5rem;
}

.title {
  margin: 0;
}

.form {
  margin: 78px 80px 96px;
  max-width: 350px;
}

.info {
  margin: 8px 8px 24px;
  color: $color-gray-900;
}

.special-requests {
  resize: none;
  margin-top: 16px;
  margin-bottom: 24px;
  width: 100%;
}

.text {
  margin-top: 12px;
}

.separator {
  display: block;
  margin-bottom: 16px;
}

.error {
  margin-top: 8px;
  margin-left: 8px;
  margin-bottom: 24px;
  color: $color-red;
}

.spinner {
  animation: spin 1s linear infinite;
  border: px2Rem(3) solid $transparency-black-soft;
  border-radius: 50%;
  border-left-color: transparent;
  height: px2Rem(16);
  width: px2Rem(16);
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}
