@import '../../styles/settings/colors.scss';

.container {
  padding: 48px 2.5rem;
}

.separator {
  margin: 24px 0;
  height: 1px;
  width: 100%;
  background-color: $color-gray-300;
}

.answer {
  margin-top: 16px;
}
