@use '../settings/colors.scss';

.btn-primary {
  background-color: $color-blue-300;
  border: 1px solid $color-blue-300;
  color: $color-black;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  outline: none;
  font-size: $font-size-dsk-action;
  font-family: $font-family-nunito-sans;
  font-weight: $font-bold;
  line-height: $line-height-dsk-action;
  max-width: 350px;
  padding: 8px;
  width: 100%;

  &:hover {
    border-color: $color-black;
  }

  &:disabled {
    border-color: $color-gray-600;
    cursor: initial;
  }
}
