@import '../../../styles/tools/mixins.scss';
@import '../../../styles/settings/colors.scss';

.container {
  position: relative;
}

.brand,
.subtitle {
  margin: 0;
}

.text {
  margin-bottom: 0;
  margin-top: px2Rem(24);
}

.texts {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  padding: 76px px2Rem(40) 32px;
  width: 35%;
  height: calc(100vh - 108px);
  z-index: 1;
}

.image {
  position: absolute;
  top: 0;
  height: 100%;
  width: 100%;

  &::before {
    background-color: $color-gray-900;
  }
}

.logo {
  align-self: center;
}

:global(.is-mobile) {
  .texts {
    width: 100%;
    justify-content: flex-start;
    padding: 16px 16px 32px;
  }

  .container {
    display: flex;
  }
}
