@import '../../../styles/settings/colors.scss';

.container {
  display: grid;
  grid-template-columns: 1fr;
  margin: 0 16px 88px;
}

.image {
  position: relative;
  height: calc((100vw - 32px) / 1.715);
  width: calc(100vw - 32px);
  background-color: $color-gray-300;
  margin: 16px 0;
}

.texts {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0;
}

.title {
  position: absolute;
  color: $color-white;
  margin: 0 16px;
  text-align: center;
  top: 50%;
  left: 0;
  transform: translate(0, -50%);
  width: calc(100% - 32px);
}
