@import '../../../styles/settings/colors.scss';

.container {
  display: grid;
  grid-template-columns: auto auto;
  justify-content: space-between;
}

.image {
  position: sticky;
  top: 0;
  right: 0;
  height: 100vh;
  width: calc(100vh / 1.125);
  background-color: $color-gray-300;
  justify-self: end;
}

.texts {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 78px 2.5rem;
  max-width: 700px;
}

:global(.is-mobile) {
  .container {
    display: flex;
    flex-direction: column;
    grid-template-columns: initial;
    margin: 0 16px 88px;
  }

  .image {
    position: relative;
    height: calc((100vw - 32px) / 1.715);
    width: calc(100vw - 32px);
    margin: 16px 0;
  }

  .texts {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0;
    padding: 0;
  }

  .title {
    position: absolute;
    color: $color-white;
    margin: 0 16px;
    text-align: center;
    top: 50%;
    left: 0;
    transform: translate(0, -50%);
    width: calc(100% - 32px);
  }
}
