.dropdown {
  background: none;
  border: 0;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  outline: none;
  width: 100%;
  line-height: 32px;

  svg {
    transform: rotate(180deg);
    transition: transform 0.2s ease-in-out;
  }

  &--selected {
    svg {
      transform: rotate(0deg);
      transition: transform 0.2s ease-in-out;
    }
  }
}
